<div class="container">
    <div class="row">
        <div class="col-md-11" style="margin:auto; display:flex">
            <div class="col-md-3" style="flex:2">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="card-title">Görev adı</div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text" style="height:auto">
                                Görev içeriği
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text" style="height:auto">
                                Görevi atayan kişi
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text" style="height:auto">
                                Atanan Kişi
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-11" style="margin:auto; display:flex;">
            <div class="card" style="flex:2">
                <div class="card-header">
                    <h3 class="card-title">Son Yorumlar</h3>
                </div>
                <div class="list-group list-group-flush list-group-hoverable">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto"><span class="badge bg-red"></span></div>
                            <div class="col text-truncate">
                                Kullanıcı Adı
                                <div class="d-block text-muted text-truncate mt-n1">Yorum detayı</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-11" style="margin:auto; display:flex;">
            <div class="card" style="flex:2">
                <form class="card">
                    <div class="card-body">
                        <h3 class="card-title">Yorum Ekle</h3>
                        <div class="row row-cards">
                            <div class="col-md-12">
                                <div class="mb-3 mb-0">
                                    <label class="form-label">Yorumunuz</label>
                                    <textarea rows="5" class="form-control" placeholder="Yorumunuz"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <button type="submit" class="btn btn-primary">Yorumu gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

